@font-face {
	font-family: 'font_arme_900'; 
	src: url(../font/tupo-vyaz_bold.ttf); 
}

@font-face {
	font-family: 'font_arme_600'; 
	src: url(../font/tupo-vyaz_regular.ttf); 
}

@font-face {
	font-family: 'header'; 
	src: url(../font/intro.ttf); 
}

@font-face {
	font-family: 'text_mini'; 
	src: url(../font/ClearSans-Thin.ttf); 
}

@font-face {
	font-family: 'text_bigi'; 
	src: url(../font/ClearSans-Regular.ttf); 
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}





/* общие классы */
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}



