@font-face {
	font-family: 'header'; 
	src: url(../font/intro.ttf); 
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}


/* Глобальные переменные */
.display_flex {
	display: flex;
}

.flex_column {
	flex-direction: column;
}

.flex_row {
	flex-direction: row;
}

.flex_global_center {
	justify-content: center;
	align-items: center;
}

.flex_x_center {
	justify-content: center;
}

.flex_y_center {
	align-items: center;	
}



/* Стартовая над стройка */
.start_construction {
	width: 100%;
	min-height: 100vh;

	position: relative;

	background: url("../images/business_card/b39c0c466fa2e880bcf8b904305041aa.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 1.0);
    background-size: cover;

    overflow: hidden;    
}




/* Плавающие материалы */
.position_absolute_setting {
	width: 100%;
    min-height: 100vh;
    padding: 10px 20px 10px 20px;

    position: absolute;	
}

.icons_ {
	position: relative;
	width: 100%;
	height: 100%;
}

.icons_project_person {
	position: absolute;
	left: 0;
	top: 10px;

	width: 175px;
	height: 80px;

	gap: 25px;
}


.wh {
	width: 100%;
	height: 100%;
	position: relative;
}


/* icons person */
.person {
	position: relative;
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 100px;
	padding: 5px;
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s;		
}

.person:hover {
    box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;		
}

.person:hover .person_table {
	width: 310px;
    height: 500px;
	opacity: 1;
	transition: height 0.2s 0.4s, padding 0.2s 0.4s, width 0.2s, opacity 0.2s;
}

.person:hover .person_table_scrool {
	padding: 10px 5px;
	transition: padding 0.2s 0.4s;
}

.person img {
	width: 30px;
	height: 30px;
}


/* person_table */
.person_table {
	z-index: 5;
	width: 0px;
	height: 0px;
	opacity: 0;

	border: 2px solid #00f3ff;
	border-radius: 5px;

    backdrop-filter: blur(30px);

	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(90px);
	transition: height 0.4s, padding 0.4s, width 0.4s 0.2s, opacity 0.6s 0.2s;	
}

.person_table_scrool {
    overflow-y: scroll;
    overflow-x: hidden;

	width: 100%;
	height: 100%;
	padding: 0px 0px;
	transition: padding 0.4s;
}

.person_table_scrool::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    transform: translateX(10px);
}

.person_table_scrool::-webkit-scrollbar-thumb {
	background-color: #223c50;
}


.person_table_inside {
}

.persone_blocks {
	position: relative;
	width: 100%;
	height: 120px;
	margin-bottom: 25px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    border: 2px solid #00f3ff;
    transition: box-shadow 0.2s;    
}

.persone_blocks:hover {
	box-shadow: 0px 0px #00f3ff, 0px 0px #2abbc2, 0px 0px #249ba1;
    transition: box-shadow 0.2s;
}

.persone_block_inside {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
}

.persone_block_img {
	width: 80px;
	height: 100%;

}

.persone_block_img img {
	width: 80px;
	height: 80px;
	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
    padding: 16px;
    border: 2px dashed #00f3ff;    
}

.persone_block_content {
    margin-left: 15px;
    width: 170px;
    justify-content: space-evenly;
}

.persone_block_name {
	font-family: 'header';
	font-size: 15px;
}

.post {
    font-family: 'header';
    font-size: 11px;
}

/* Доп. контент */
.setting_position {
	position: absolute;	
	left: 100%;
	top: 100%;
}



.writing {
	position: absolute;
    display: flex;
    left: 0;
    top: 0;

    opacity: 0;

    width: 0px;
    padding: 10px;
    border: 2px solid #00f3ff;
    border-radius: 0px 10px 10px 10px;
    background: white;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(-10px) translateY(-10px);
    transition: width 0.2s, opacity 0.3s, transform 0.3s;
}

.writing_active {
	width: 160px;
    opacity: 1;
    transition: width 0.2s, opacity 0.3s, transform 0.3s;	
}

.writing_content {
	font-family: 'header';
	font-size: 12px;
}




/* icons project */
.project {
	position: relative;
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 100px;
	padding: 5px;
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;	
}

.project:hover {
    box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;		
}

.project:hover .project_table {
	width: 310px;
    height: 500px;
	opacity: 1;
	transition: height 0.2s 0.4s, padding 0.2s 0.4s, width 0.2s, opacity 0.2s;
}

.project:hover .project_table_scrool {
	padding: 10px 5px;
	transition: padding 0.2s 0.4s;
}

.project img {
	width: 40px;
	height: 40px;
}

/* project_table */
.project_table {
	z-index: 5;
	width: 0px;
	height: 0px;
	opacity: 0;

	border: 2px solid #00f3ff;
	border-radius: 5px;

    backdrop-filter: blur(30px);

	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(90px);
	transition: height 0.4s, padding 0.4s, width 0.4s 0.2s, opacity 0.6s 0.2s;	
}

.project_table_scrool {
    overflow-y: scroll;
    overflow-x: auto;

	width: 100%;
	height: 100%;
	padding: 0px 0px;
	transition: padding 0.4s;
}

.project_table_scrool::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    transform: translateX(10px);
}

.project_table_scrool::-webkit-scrollbar-thumb {
	background-color: #223c50;
}

.project_table_inside {
}

.project_blocks {
	width: 100%;
	height: 200px;
	margin-bottom: 25px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    border: 2px solid #00f3ff;
    transition: box-shadow 0.2s;
}

.project_blocks:hover {
	box-shadow: 0px 0px #00f3ff, 0px 0px #2abbc2, 0px 0px #249ba1;
    transition: box-shadow 0.2s;
}

.project_block_inside {
	width: 100%;
	height: 100%;
	padding: 5px 10px;
}

.project_block_img {
	width: 100%;
	height: 100%;
	position: relative;
}

.project_block_img img {
	width: 100%;
	height: 100%;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
    padding: 16px;
}

.project_block_content {
	position: absolute;
	width: 100%;
	height: 100%;

    justify-content: flex-end;
    align-items: flex-end;

    padding-right: 10px;    
}

.project_block_name {
	font-family: 'header';
	font-size: 15px;
}









.start_construction_position {
	width: 100%;
    min-height: 100vh;
    padding: 10px 20px 10px 20px;

    justify-content: space-around;	
}




/* Первый блок title \ description */
.letter {
    font-size: 115px;
    color: white;
    font-family: 'header';
    text-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
}

.letter:hover {
	animation: letter 0.5s alternate;
}

@keyframes letter {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(10deg);}
	75% {transform: rotate(-10deg);}
	100% {transform: rotate(0deg);}
}

.letter_ {
    font-size: 115px;
    color: white;
    font-family: 'header';
    text-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: text-shadow 0.3s;
}

.letter_:hover {
	animation: letter_ 0.5s alternate;
    text-shadow: 0px 0px #00f3ff, 0px 0px #2abbc2, 0px 0px #249ba1;
    transition: text-shadow 0.3s;	
}

@keyframes letter_ {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(10deg);}
	50% {transform: rotate(-10deg);}
	75% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}

.description {
	opacity: 0;
	max-width: 0px;
    max-height: 237px;
    overflow: hidden;
    margin-top: 20px;
	background: linear-gradient(140deg, #00f3ff,#2abbc2,#249ba1);	
    padding: 0px;
    border-radius: 10px;
    color: #673ab7;    

	transition: max-width 0.3s, opacity 0.2s, padding 0.2s;
}

.description_active {
	opacity: 1;
	max-width: 300px;
	padding: 5px;

	transition: max-width 0.3s, opacity 0.2s, padding 0.2s;	
}

.description_block {
	width: 100%;
	height: 100%;
	background: white;
	padding: 10px;
    border-radius: 10px;
    font-family: 'header';
}	



/* Доп. информация */
.additional_information {
    padding: 5px;
    color: #673ab7;
    font-family: 'header';
    background: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    transform: translateX(90px);
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s;
}

.additional_information:hover {
	box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;		
}



/* button */
.switch {
	position: relative;
	height: 80px;
}

.button_order_a_website {
	margin-right: 0%;
	position: absolute;
    padding: 11px;
    color: #673ab7;
    font-family: 'header';
    background: #ffffff;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s, margin-right 0.5s;	    
}
.button_order_a_website:hover {
	box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s, margin-right 0.5s;
}

.button_order_a_website_active {
    margin-right: 200%;
}



/* link */
.link_moving {
    margin-right: -200%;
    transition: margin-right 0.5s;
    gap: 10px;    
}

.link_moving_active {
    margin-right: 0%;
    transition: margin-right 0.5s;
}

.link_ {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background: white;

	padding: 5px;
}

.link_setting {
	width: 100%;
	height: 100%;
	border-radius: 100px;

    font-family: 'header';
    color: white;
    font-size: 20px;	
}



/* button_bottom */
.button_bottom {
	width: 60px;
	height: 60px;

	position: relative;

    margin-bottom: 20px;

    padding: 16px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s;    
}

.button_bottom:hover {
	box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;	
}

.button_bottom img {
	width: 100%;
	height: 100%;
}

.button_bottom_mini_icons_number {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50px;
    height: auto;
    font-family: 'header';
    padding: 5px;
    font-size: 14px;
    border-radius: 100px;
    transform: translateX(10px) translateY(-10px);
    background: red;
    color: white;
}




/* Окончательная часть сайта */
.end_construction {
	width: 100%;
    height: 100vh;
    padding: 10px 20px 10px 20px;
}

.information {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
    align-items: center;	
	gap: 20px;
}
