@font-face {
	font-family: 'header'; 
	src: url(../font/intro.ttf); 
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}


/* Глобальные переменные */
.display_flex {
	display: flex;
}

.flex_column {
	flex-direction: column;
}

.flex_row {
	flex-direction: row;
}

.flex_global_center {
	justify-content: center;
	align-items: center;
}

.flex_x_center {
	justify-content: center;
}

.flex_y_center {
	align-items: center;	
}



/* Стартовая над стройка */
.start_construction {
	width: 100%;
	min-height: 100vh;

	position: relative;

	background: url("../images/business_card/b39c0c466fa2e880bcf8b904305041aa.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 1.0);
    background-size: cover;

    overflow-x: hidden;    
}

.start_construction_position {
	width: 100%;
    min-height: 100vh;
    padding: 10px 20px 10px 20px;

    justify-content: space-around;	
}



/* Первый блок title \ description */
.letter {
    font-size: 115px;
    color: white;
    font-family: 'header';
    text-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transform: rotate(0deg); 
}

.letter:hover {
	animation: letter 0.5s alternate;
}

@keyframes letter {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(10deg);}
	75% {transform: rotate(-10deg);}
	100% {transform: rotate(0deg);}
}

.letter_ {
    font-size: 115px;
    color: white;
    font-family: 'header';
    text-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: text-shadow 0.3s;
}

.letter_:hover {
	animation: letter_ 0.5s alternate;
    text-shadow: 0px 0px #00f3ff, 0px 0px #2abbc2, 0px 0px #249ba1;
    transition: text-shadow 0.3s;	
}

@keyframes letter_ {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(10deg);}
	50% {transform: rotate(-10deg);}
	75% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}

.description {
	opacity: 0;
	max-width: 0px;
    max-height: 237px;
    overflow: hidden;
    margin-top: 20px;
	background: linear-gradient(140deg, #00f3ff,#2abbc2,#249ba1);	
    padding: 0px;
    border-radius: 10px;
    color: #673ab7;    

	transition: max-width 0.3s, opacity 0.2s, padding 0.2s;
}

.description_active {
	opacity: 1;
	max-width: 300px;
	padding: 5px;

	transition: max-width 0.3s, opacity 0.2s, padding 0.2s;	
}

.description_block {
	width: 100%;
	height: 100%;
	background: white;
	padding: 10px;
    border-radius: 10px;
    font-family: 'header';
}	


.additional_information {
    padding: 5px;
    color: #673ab7;
    font-family: 'header';
    background: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    transform: translateX(90px);
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s;
}

.additional_information:hover {
	box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;		
}

.position {
	position: relative;
	height: 80px;
}

.link_block {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background: white;

	padding: 5px;
}

.link_block_abs {
	width: 100%;
	height: 100%;
	border-radius: 100px;

    font-family: 'header';
    color: white;
    font-size: 20px;	
}

.button_order_a_website {
	margin-right: 0px;
	position: absolute;
    padding: 11px;
    color: #673ab7;
    font-family: 'header';
    background: #ffffff;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s, margin-right 0.5s;	    
}
.button_order_a_website:hover {
	box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;	
}

.button_order_a_website_active {
    margin-right: 1500px;
    transition: margin-right 0.5s;
}

.ism {
    margin-right: -1500px;
    transition: margin-right 0.5s;
    gap: 10px;    
}

.ism_active {
    margin-right: 0px;
    transition: margin-right 0.5s;
}


.but {
	width: 60px;
	height: 60px;

	position: relative;

    margin-bottom: 20px;

    padding: 16px;
    background: #ffffff;
    border-radius: 5px;
    /* transform: translateX(90px); */
    box-shadow: 0px 5px #00f3ff, 0px 10px #2abbc2, 0px 15px #249ba1;
    transition: box-shadow 0.3s;    
}

.but:hover {
	box-shadow: 9px -6px #00f3ff, -9px -2px #2abbc2, -4px 10px #249ba1;
    transition: box-shadow 0.3s;	
}

.but img {
	width: 100%;
	height: 100%;
}

.as {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50px;
    height: auto;
    font-family: 'header';
    padding: 5px;
    font-size: 14px;
    border-radius: 100px;
    transform: translateX(10px) translateY(-10px);
    background: red;
    color: white;
}

.absolute_bloce {
	width: 100%;
	max-height: 0px;

	position: relative;
	justify-content: center;

	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 150px 150px 150px;
}

.bb {
	align-items: stretch;
}

