/* Пользовательское меню */

:root {

}

/* Полностью меню */
.custom {
	position: fixed;

	justify-content: center;

	top: 0;
	left: 0;

	width: 100%;
	height: 55px;

	gap: 15px;

	z-index: 100;
}

/* Левое меню */
.cursor {
	width: auto;
	height: 100%;

	align-items: center;

    background: #ffffff;
	border-radius: 0px 0px 5px 5px;    
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.cursors_setting {
	width: auto;
	height: 100%;

	align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border-radius: 0px 0px 0px 5px;    
}

/* Работа с глазом */
.cursor_setting_eye {
	width: 30px;
	height: 30px;

	position: relative;
}

.cursor_setting_eye img {
	position: relative;
	z-index: 110;
}

.open_eye {
	position: absolute;
	width: 100%;
	height: 100%;

	padding: 5px;

	background:#ebffe7;
	border-radius: 100px;

	overflow: hidden;

	z-index: 101;
	transition: width 0.8s, height 0.8s;
}

.open_eye:after {
	content: '';
	position: absolute;

	top: 0;
	left: 0;

	width: 0%;
	height: 0%;

	background: #d1ffc7;
	border-radius: 100px;	
	z-index: 109;
	transition: width 0.8s, height 0.8s;	
}

.cursor_setting_eye:hover .open_eye:after {
	width: 100%;
	height: 100%;
	border-radius: 100px;	
	transition: width 0.8s, height 0.8s;
}

.open_eye_active {
	width: 0%;
	height: 0%;
	border-radius: 100px;	
	z-index: 103;
	transition: width 0.8s, height 0.8s;
}

.hidden_eye {
	position: absolute;
	width: 0%;
	height: 0%;

	padding: 5px;

	background:#ffccbc;
	border-radius: 100px;

	overflow: hidden;

	z-index: 101;
	transition: width 0.8s, height 0.8s;	
}

.hidden_eye:after {
	content: '';
	position: absolute;

	top: 0;
	left: 0;

	width: 0%;
	height: 0%;

	background: #feae95;
	border-radius: 100px;	
	z-index: 109;
	transition: width 0.8s, height 0.8s;	
}

.cursor_setting_eye:hover .hidden_eye:after {
	width: 100%;
	height: 100%;
	transition: width 0.8s, height 0.8s;
}

.hidden_active {
	width: 100%;
	height: 100%;
	border-radius: 100px;	
	z-index: 102;	
	transition: width 0.8s, height 0.8s;	
}

/* Работа с друзьями */
.cursor_setting_friends {
	width: 30px;
	height: 30px;

	position: relative;
}

.cursor_setting_friends img {
	position: relative;
	z-index: 110;
}

.friends {
	position: absolute;
	width: 100%;
	height: 100%;

	padding: 5px;

	background:#e1f5fe;
	border-radius: 100px;

	overflow: hidden;

	z-index: 101;
	transition: width 0.8s, height 0.8s;
}

.friends:after {
	content: '';
	position: absolute;

	top: 0;
	left: 0;

	width: 0%;
	height: 0%;

	background: #c4edff;
	border-radius: 100px;	
	z-index: 109;
	transition: width 0.8s, height 0.8s;	
}

.cursor_setting_friends:hover .friends:after {
	width: 100%;
	height: 100%;
	transition: width 0.8s, height 0.8s;
}

.plus {
	position: absolute;
	top: 59%;
	right: 0;

	width: 16px;
	height: 16px;

	padding: 2px;
    z-index: 110;
    background: #c2ecff;
	border-radius: 100px;	
}

/* Работа со слайдом */
.cursors {
	width: auto;
	height: 100%;

	align-items: center;	
	gap: 10px;

    border-left: 1px dashed #000000;
    padding: 0px 10px;
}

.cursors_grid {
	width: 165px;
	height: auto;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 45px 45px 45px;
	grid-template-rows: 45px;
	gap: 15px;

	overflow: hidden;
}

.cursors_grid_block {
	position: relative;

    width: 45px;
    height: 45px;

	border-radius: 100px;
	padding: 2px;
}

.cursors_grid_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100px;
	border: 3px solid white;
}


.notification {
	position: absolute;
    top: 60%;
    right: 0;
    width: 17px;
    height: 17px;

	padding: 3px;

	background: white;
	border-radius: 100px;
}

.notification div {
	width: 100%;
	height: 100%;

	border-radius: 100px;
}

/* Переключатели */
/* Левый */
.left_switch_triangle {
	width: auto;
	height: auto;
}

.left_triangle {
	position: relative;

    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-right: 20px solid #84abee;
    border-bottom: 10px solid transparent;
    border-radius: 3px;

	transform: scale(1.0);
	transition: transform 0.5s;    
}

.left_element {
    position: absolute;
    transform: translateX(17%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 15px solid #ffffff;
    border-bottom: 8px solid transparent;
    border-radius: 3px;
}

.left_switch_triangle:hover .left_triangle {
	transform: scale(1.2);
	transition: transform 0.5s;
}

/* Правый */
.right_switch_triangle {
	width: auto;
	height: auto;
	position: relative;
}

.right_triangle {
	position: relative;
	
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-left: 20px solid #84abee;
    border-bottom: 10px solid transparent;
    border-radius: 3px;

	transform: scale(1.0);
	transition: transform 0.5s;    
}

.right_element {
    position: absolute;
    transform: translateX(-118%) translateY(-50%);    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 15px solid #ffffff;
    border-bottom: 8px solid transparent;
    border-radius: 3px;
}

.right_other_ {
    position: absolute;
    top: -15px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #eb7070;
    color: white;
    font-size: 11px;
    font-family: cursive;
}

.right_switch_triangle:hover .right_triangle {
	transform: scale(1.2);
	transition: transform 0.5s;
}


.cursor_setting_svg img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	border-radius: 100px;
}


.cursors_svg {
	position: relative;
    width: 25px;
    height: 25px;
    padding: 3px;
	background: white;
	border-radius: 10px;
}











.menu {
	width: auto;
	height: 100%;

	align-items: center;
	gap: 20px;

	border-radius: 0px 0px 5px 5px;
	background: whitesmoke;

	padding: 0px 10px;
}

.menu_icons {
	width: auto;
	height: 100%;
	align-items: center;
	gap: 10px;		
}

.menu_icons_block {
	position: relative;
	width: 45px;
	height: 45px;

	border-radius: 5px;
	background: white;

	padding: 10px;
}

.asd {
    position: absolute;
    top: 0px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: red;
    color: white;
    font-size: 11px;
}

.menu_icons_block img {
	width: 25px;
	height: 25px;
}

.menu_user {
	gap: 10px;
}

.menu_user_ {
	justify-content: flex-start;
    font-size: 12px;
    font-family: 'text_bigi';
    letter-spacing: 2px;
	border-left: 1px solid #827c7c6b;
    padding-left: 10px;    
}

.menu_user_name {
	padding: 2px;
    font-size: 13px;	
}

.menu_user_id {
	padding: 2px;
    font-size: 10px;	
}

.menu_user_post {
	padding: 2px;
	background: white;
    font-size: 9px;
    letter-spacing: 7px;
}

.menu_user_img {
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 100px;
}

.online {
	position: absolute;
    top: 60%;
    right: 0;
    width: 17px;
    height: 17px;

	padding: 3px;

	background: whitesmoke;
	border-radius: 100px;
}

.online div {
	width: 100%;
	height: 100%;

	background: green;
	border-radius: 100px;
}

.menu_user_img img {
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.online {

}