/* Пользовательский блок */
/* Пользовательское меню */

/*
	Примечанеи: Используется 5-ть цветов;
*/
:root {
	/* Основной фон всего блока */
	--background_global: #363b66;
	/* Слегка светлее основго фона (рамки) */
	--background_global_: #6f6fac;
	/* Фон пассивного переключателя */
	--background_white: white;
	/* Фон активного переключателя */	
	--background_orange: #ffbe5e;

}

/* Публичное пользовательское меню (расположение) */
.public_user_setup {
	position: fixed;

    top: 0;
    left: 0; 

	/* Основа блока (вручную) */
    width: 60px;
    height: 100%;

    padding: 20px 0px;    

    z-index: 100;
    transform: translateX(-60px);
    transition: transform 0.5s;
}

/* Добавляемый класс */
.public_user_setup_active {
    transform: translateX(0px);
    transition: transform 0.5s;	
}

/* Публичное пользовательское меню (настройка) */
.public_user_setup_ {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 15px 0px;
    border-radius: 0px 10px 10px 0px; 
    /* Основной фон */
    background: var(--background_global);
    border-top: 6px solid var(--background_global_);
    border-bottom: 6px solid var(--background_global_);

    z-index: 101;
}

/* Открыть, скрыть публичное пользовательское меню */
.switch {
	position: absolute;

	/* Расположение якобы по центру блока */
	top: 45%;
	left: 100%;

	/* Размеры основного блока */
	width: 30px;
	height: auto;

	/* Контур переключателя, цвет как у основного фона */
	border-top: 6px solid var(--background_global);
	border-right: 2px solid var(--background_global);
	border-bottom: 6px solid var(--background_global);
	border-radius: 0px 20px 20px 0px;

	/* Фон пассивного переключателя */
	background: var(--background_white);

	z-index: 102;

	overflow: hidden;
}

/* Размер изображения переключателя */
.switch img {
	width: 20px;
	height: 20px;

	z-index: 104;
}

.switch_pos {
	position: relative;

	padding: 20px 0px 20px 0px;

	width: 100%;
	height: 100%;	
}

/* Активный фон */
.switch_pos div:before {
	content: '';
	position: absolute;

	width: 1px;
	height: 1px;

	top: -5px;
	left: 50%;

	transform: scale(1.0);

	z-index: 103;

	/* Фон активного переключателя */	
	background: var(--background_orange);
	border-radius: 100px;
	transition: transform 0.5s;	
}

/* Активация актвиного фона */
.switch_pos:hover div:before {
	transform: scale(170.0);
	transition: transform 0.5s;

}
/* ------------------------- */



/* Продолжение пользовательского меню */
.custom {
    position: relative;

    width: 50px;

    cursor: pointer;    
}

.custom_ {
	position: relative;

	border-radius: 100px;

	width: 45px;
	height: 45px;

	margin-bottom: 3px;	
	background: white;
}

.custom_ img {
	width: 100%;
	height: 100%;

	border-radius: 100px;

	transform: rotate(0deg);
	transition: transform 0.2s;
}

.custom:hover .custom_ img {
	animation: custom_img 0.7s alternate forwards;
}

@keyframes custom_img {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}          
}

.online {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 15px;
    height: 15px;

    border: 3px solid #d2d2d2;

    padding: 5px;

    border-radius: 100px;
    background: #00ffae;
    color: #327d71;
}

.custom_description {
    background: white;
    position: relative;
    border-radius: 3px;
    font-family: 'text_bigi';
    font-size: 12px;
    padding: 2px 0px 2px 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 55px;
}

.custom_description:after{
	position: absolute;	
	content: '';

	top: 50%;
	left: -5px;

	width: 1px;
	height: 1px;

	transform: scale(1.0);
	border-radius: 100px;
	background: #ffa5a5;

	transition: transform 0.7s;
}

.custom:hover .custom_description:after{
	transform: scale(180.0);

	transition: transform 0.7s;
}


.content_nastr_number {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    font-family: cursive;
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 100px;
    background: #c6f2e4;
    color: #327d71;
}


.menu_customers {
    position: absolute;
    top: 0;
    left: 100%;
    width: 330px;
    height: auto;
    gap: 10px;
    background: #e6e6e6;
    display: none;
    border-radius: 10px;
    border: 2px solid #3f51b5;
}

.display {
	display: flex;
}

.menu_gl {
	width: 100%;
	height: 50px;

	background: red;
	border-radius: 10px 10px 0px 0px;
	align-items: flex-end;
}

.menu_images {
	width: 25px;
	height: 100%;
	border-radius: 100px;
}

.menu_images_img {
	width: 25px;
	height: 25px;
}

.about_moderation_icons {
	width: 50px;
	height: 50px;

	margin-bottom: 5px;
}

.gl_otdel {
	padding: 0px 10px 0px 10px;
    display: flex;
 	gap: 10px;
    height: 35px; 	
}

.gl_image {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	border: 2px solid red;
	transform: translateY(-35px);
}

.img_img {
	width: 100%;
	height: 100%;
	object-fit:cover;
	border-radius: 100px;
}

.gl_name {
	font-size: ;
	font-family: ;
}

.about_inoe_icons {
    z-index: 7;
    margin-bottom: 3px;
    position: relative;  
}

.about_inoe_icons img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
	padding: 8px;    
}

.about_icons {
	padding: 3px;
    border-radius: 10px;
    z-index: 7;
    margin-bottom: 3px;
    position: relative;   
}

.about_icons img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    overflow: hidden;
}

.about_icons img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
}

.about_content {
	align-items: center;

    position: absolute;

    white-space: nowrap;

    max-width: 0px;
    height: 45px;

    opacity: 0;

    margin-left: 10px;

    border-radius: 10px;

    z-index: 1;

    overflow: hidden;    

    transition: max-width 0.4s cubic-bezier(.66,.13,.99,.74), opacity 0s 0.4s;
}

.about_content_text {
	width: 100%;
    padding-left: 50px;
    padding-right: 10px;
}

.about_content_text_title {
    font-family: 'text_bigi';
    font-size: 21px;
    color: black;
}

.about_content_text_description {
    font-family: 'cursive';
    font-size: 12px;
    letter-spacing: 2px;
    color: black;
}

.about_moderation_icons:hover .about_content {
	max-width: 1000px;
    opacity: 1;	
	transition: max-width 0.4s cubic-bezier(.66,.13,.99,.74), opacity 0s;
}

/* about дополнительные возможности */
.about_cope {
	width: 45px;
	height: 45px;
}

.about_cope_img {
	width: 30px;
	height: 30px;

	position: relative;

	border-radius: 5px;
	background: var(--background_red);
	overflow: hidden;

	z-index: 2;
}

.about_cope_img img {
	width: 20px;
	height: 20px;

	z-index: 4;
}

.about_cope_img:before {
	content: '';
	left: -5px;
	top: -5px;
	position: absolute;

	z-index: 3;

	width: 5px;
	height: 5px;

	transform: scale(1.0);

	border-radius: 100px;
	background: var(--background_blue);

	transition: transform 0.3s;
}

.about_cope_img:hover:before {
	transform: scale(20.0);
	transition: transform 0.5s;	
}





