/* Пользовательское меню */

:root {

}

/* Полностью меню */
.custom {
	position: fixed;

	justify-content: center;

	top: 0;
	left: 0;

	width: 100%;
	height: 55px;

	gap: 15px;

	z-index: 100;
}

/* Левое меню */
.cursor {
	width: auto;
	height: 100%;

	align-items: center;

    background: #ffffff;
	border-radius: 0px 0px 5px 5px;    
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.cursors_setting {
	width: auto;
	height: 100%;

	align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border-radius: 0px 0px 0px 5px;    
}

/* Работа с глазом */
.cursor_setting_eye {
	width: 30px;
	height: 30px;

	position: relative;
	cursor: pointer;
}

.cursor_setting_eye img {
	position: relative;
	z-index: 110;
}

.open_eye {
	position: absolute;
	width: 100%;
	height: 100%;

	padding: 5px;

	background:#ebffe7;
	border-radius: 100px;

	overflow: hidden;

	z-index: 101;
	transition: width 0.8s, height 0.8s;
}

.open_eye:after {
	content: '';
	position: absolute;

	top: 0;
	left: 0;

	width: 0%;
	height: 0%;

	background: #d1ffc7;
	border-radius: 100px;	
	z-index: 109;
	transition: width 0.8s, height 0.8s;	
}

.cursor_setting_eye:hover .open_eye:after {
	width: 100%;
	height: 100%;
	border-radius: 100px;	
	transition: width 0.8s, height 0.8s;
}

.open_eye_active {
	width: 0%;
	height: 0%;
	border-radius: 100px;	
	z-index: 103;
	transition: width 0.8s, height 0.8s;
}

.hidden_eye {
	position: absolute;
	width: 0%;
	height: 0%;

	padding: 5px;

	background:#ffccbc;
	border-radius: 100px;

	overflow: hidden;

	z-index: 101;
	transition: width 0.8s, height 0.8s;	
}

.hidden_eye:after {
	content: '';
	position: absolute;

	top: 0;
	left: 0;

	width: 0%;
	height: 0%;

	background: #feae95;
	border-radius: 100px;	
	z-index: 109;
	transition: width 0.8s, height 0.8s;	
}

.cursor_setting_eye:hover .hidden_eye:after {
	width: 100%;
	height: 100%;
	transition: width 0.8s, height 0.8s;
}

.hidden_active {
	width: 100%;
	height: 100%;
	border-radius: 100px;	
	z-index: 102;	
	transition: width 0.8s, height 0.8s;	
}

/* Работа с друзьями */
.cursor_setting_friends {
	width: 30px;
	height: 30px;

	position: relative;
	cursor: pointer;
}

.cursor_setting_friends img {
	position: relative;
	z-index: 110;
}

.friends {
	position: absolute;
	width: 100%;
	height: 100%;

	padding: 5px;

	background:#e1f5fe;
	border-radius: 100px;

	overflow: hidden;

	z-index: 101;
	transition: width 0.8s, height 0.8s;
}

.friends:after {
	content: '';
	position: absolute;

	top: 0;
	left: 0;

	width: 0%;
	height: 0%;

	background: #c4edff;
	border-radius: 100px;	
	z-index: 109;
	transition: width 0.8s, height 0.8s;	
}

.cursor_setting_friends:hover .friends:after {
	width: 100%;
	height: 100%;
	transition: width 0.8s, height 0.8s;
}

.plus {
	position: absolute;
	top: 59%;
	right: 0;

	width: 16px;
	height: 16px;

	padding: 2px;
    z-index: 110;
    background: #c2ecff;
	border-radius: 100px;	
}

/* Работа со слайдом */
.cursors {
	width: auto;
	height: 100%;

	align-items: center;	
	gap: 10px;

    border-left: 1px dashed #000000;
    padding: 0px 10px;
}

.cursors_grid {
	width: 165px;
	height: auto;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 45px 45px 45px;
	grid-template-rows: 45px;
	gap: 15px;

	overflow: hidden;
}

.cursors_grid_block {
	position: relative;

    width: 45px;
    height: 45px;

	border-radius: 100px;
	padding: 2px;

	cursor: pointer;
}

.cursors_grid_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100px;
	border: 3px solid white;
}

.cursors_grid_block:hover .rotate {
	animation: rotate 0.7s alternate forwards;
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.notification {
	position: absolute;
    top: 60%;
    right: 0;
    width: 17px;
    height: 17px;

	padding: 3px;

	background: white;
	border-radius: 100px;
}

.notification div {
	width: 100%;
	height: 100%;

	border-radius: 100px;
}

/* Переключатели */
/* Левый */
.left_switch_triangle {
	width: auto;
	height: auto;
	cursor: pointer;
}

.left_triangle {
	position: relative;
  	width: 30px;
  	height: 30px;
}

.left_triangle img {
	position: absolute;
	top: 50%;
	left: 70%;
	
  	width: 30px;
  	height: 30px;

    transform: translateX(-50%) translateY(-50%) rotate(30deg);  	
}

/* Правый */
.right_switch_triangle {
	width: auto;
	height: auto;
	position: relative;
	cursor: pointer;
}

.right_other_ {
	position: absolute;
	top: -10px;
    right: -5px;

	width: 20px;
	height: 20px;
	border-radius: 100px;
    border: 2px solid #da6363;
    color: black;
    font-family: 'cursive';
    font-size: 11px;
    font-weight: 700;
    z-index: 110;    
	transform: scale(1.0);
	transition: transform 0.4s;    
}

.right_other_:hover {
	transform: scale(1.3);
	transition: transform 0.4s;
}

.right_triangle {
	position: relative;
  	width: 30px;
  	height: 30px;
}

.right_triangle img {
	position: absolute;
	top: 50%;
	left: 30%;

  	width: 30px;
  	height: 30px;

    transform: translateX(-50%) translateY(-50%) rotate(-30deg);  	  	
}



/* Продолжение Меню */
.menu {
	width: auto;
	height: 100%;

	align-items: center;

	border-radius: 0px 0px 5px 5px;
	background: white;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;	
}

.menu_icons {
	width: auto;
	height: 100%;
	align-items: center;

	padding: 0px 10px;

	gap: 10px;
}

.menu_icons_block {
	position: relative;
	width: 45px;
	height: 45px;

	border-radius: 5px;
	cursor: pointer;
}

.dsa1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}


.menu_icons_block:hover .dsa1:after {
	transform: scale(100.0);
	transition: transform 0.8s;	
}

.dsa1:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;

	top: var(--top_subject_matter__);
	left: var(--left_subject_matter__);

	border-radius: 100px;
	background: #da636326;

	transform: scale(1.0);
	transition: transform 0.8s;
}

.dsa2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}


.menu_icons_block:hover .dsa2:after {
	transform: scale(100.0);
	transition: transform 0.8s;	
}

.dsa2:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;

	top: var(--top_subject_matter__);
	left: var(--left_subject_matter__);

	border-radius: 100px;
	background: #7d7dff2b;

	transform: scale(1.0);
	transition: transform 0.8s;
}

.dsa3 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}


.menu_icons_block:hover .dsa3:after {
	transform: scale(100.0);
	transition: transform 0.8s;	
}

.dsa3:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;

	top: var(--top_subject_matter__);
	left: var(--left_subject_matter__);

	border-radius: 100px;
	background: #55ad5529;

	transform: scale(1.0);
	transition: transform 0.8s;
}

.dsa4 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}


.menu_icons_block:hover .dsa4:after {
	transform: scale(100.0);
	transition: transform 0.8s;	
}

.dsa4:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;

	top: var(--top_subject_matter__);
	left: var(--left_subject_matter__);

	border-radius: 100px;
	background: #e9b65d3b;

	transform: scale(1.0);
	transition: transform 0.8s;
}


.asd {
	position: absolute;
    top: -6px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: white;
    color: #050000;
    font-size: 11px;
}

.menu_icons_block img {
	width: 25px;
	height: 25px;
}

.menu_user {
	gap: 10px;
    padding: 0px 10px 0px 0px;
    height: 100%;	
}

.menu_user_ {
	justify-content: center;
    font-size: 12px;
    font-family: 'text_bigi';
    letter-spacing: 2px;
	border-left: 1px solid #827c7c6b;
    padding-left: 10px;    
}

.menu_user_name {
	padding: 2px;
    font-size: 15px;	
}

.menu_user_id {
	padding: 0px;
    font-size: 10px;	
}

.menu_user_post {
	padding: 2px;
	background: white;
    font-size: 9px;
    letter-spacing: 7px;
}

.menu_user_img {
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 100px;
	height: 100%;
	display: flex;
    align-items: center;	
}

.online {
	position: absolute;
    top: 60%;
    right: 0;
    width: 17px;
    height: 17px;

	padding: 3px;

	background: white;
	border-radius: 100px;
}

.online div {
	width: 100%;
	height: 100%;

	background: #55ad55;
	border-radius: 100px;
}

.menu_user_img img {
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.online {

}