/* Вводный старт */
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;

	margin: 0;

    overflow: hidden;	
}

textarea {
    resize: none;
    outline: none;    
}



/* Скролл */
*::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

*::-webkit-scrollbar-thumb {
	background-color: #223c50;
}


/* variables */

:root {
	--font-arm9: 'font_arme_900';
	--font-arm6: 'font_arme_600';
	--font-header: 'header';
	--font-min: 'text_mini';
	--font-big: 'text_bigi';
	--font-ag: 'Agency_FB_Cyrillic';

	--color-black: #3c3c3c;
	--color-white: #fff;
}


/* Вводные классы */
.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}



/* Цветовая палитра */
.background_blue {
    background: #03a9f4;
}

.background_red {
    background: #e96868;
}

.background_orange {
    background: #F15F2C;   
}

.background_white {
    background: #ffffff;   
}

.border_blue {
	border: 2px var(--background_blue) solid;
}

.border_red {
	border: 2px var(--background_red) solid;
}

.border_orange {
	border: 2px var(--background_orange); solid;
}

:root {
	--background_blue: #03a9f4;
	--background_red: #e96868;
	--background_orange: #F15F2C;
	--background_white: #ffffff; 
}




/* Стартовая страница */
.construction {
	width: 100%;
	height: 100vh;

	position: relative;
}

.block_top {
	width: 100%;
	height: 60%;
}

.block_left {
	padding-top: 60px;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 45%;
	height: 100%;
	justify-content: space-evenly;
}

.info_block {
    justify-content: space-evenly;	
	font-size: 12px;
}

.info_block img {
	width: 20px;
	height: 20px;
}

.block_info {
	gap: 10px;
}


/* Менюшка */
.menu_start_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;

	padding-right: 20px;
	padding-left: 20px;
}
/* --- */



/* Логотип */
.logotype_link {
    z-index: 3;
    justify-content: flex-start;
	padding: 5px;
    font-family: 'header';
    font-size: 17px;
    color: black;
}

.logotype {
	-webkit-box-reflect: below -20px linear-gradient(#ff00003d, rgba(0,0,0,.2));

	padding: 10px;	

	cursor: pointer;
}

.logotype span {
	display: inline-block;

	animation: logotype 2s infinite;
	animation-delay: calc(.2s * var(--i));
}

@keyframes logotype {
	0%,40%,100% {
		transform: translateY(0)
	}
	20% {
		transform: translateY(-5px)
	}
}
/* --- */



/* Меню */
.menu {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;    
	gap: 10px;    	
}
/* --- */


.block____ img {
	width: 45px;
	height: 45px;
	border-radius: 100px;
	object-fit: cover;
}

.button_block____ img {
	width: 25px;
	height: 25px;
	border-radius: 100px;
}

.ZZZZ_ZZZ_ {
	display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0px 0px 0px;    
}


.menu_blocks {
	position: relative;

    cursor: pointer;
    
    z-index: 2;
}

.menu_blocks_title {
	position: relative;	
	padding: 5px;
	border-radius: 20px;

	font-family: 'header';
	font-size: 14px;
	color: #e96868;

	overflow: hidden;

	z-index: 1;	
}

.menu_blocks_title div {
	z-index: 3;	
}

.menu_blocks_title:before {
	content: "";

	top: 0;
	left: 0;

	width: 0%;
	height: 100%;

	position: absolute;	

	background: #243453;

	z-index: 2;

	transition: width 0.3s;
}

.menu_blocks:hover .menu_blocks_title:before {
	width: 100%;

	transition: width 0.3s;
}	

.menu_blocks:hover .menu_blocks_pluse {
    height: 270px;
    opacity: 1;
    pointer-events: auto;

    transition: height 0.3s, opacity 0.3s;
}

.menu_blocks_pluse {
    width: 550px;
    height: 0px;

    position: absolute;

    padding: 20px;

	transform: translateX(-440px);

	opacity: 0;

	pointer-events: none;

    z-index: 2;

    overflow: hidden;

    transition: height 0.6s, opacity 0.3s;    
}

.blocks_ {
    width: 100%;
    height: 100%;

    border: 2px dashed #243453;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.blocks_st {
    padding-top: 3%;
	padding-left: 30px;	
    overflow-x: hidden; 	
}

.moving_block {
	display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 180px);
    gap: 20px;

    height: 192px;
}

.block {
	width: 100%;
	height: 100%;

	position: relative;	

	background: #03a9f4;
	border-radius: 15px;	
}

.block .block_position_move{
    width: 100%;
    height: 100%;

	position: absolute;

    left: 0px;
    top: -5px;

    border-radius: 13px; 

    transition: left 0.2s 0.5s, top 0.2s 0.5s;     	
}

.block .block_position_move:hover{
    left: 0px;
    top: 0px;

    transition: left 0.2s, top 0.2s;   	
}

.block_block_ {
    width: 100%;
    height: 100%;

	position: relative;	

	border-radius: 10px;

	overflow: hidden; 
}

.block_block_background {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    opacity: 1;

    background: url("../images/back_href/1676648004_catherineasquithgallery-com-p-emodzi-na-zelenom-fone-186.png");
    background-size: cover;
    z-index: 2;
}

.abs {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 60px;

    font-size: 40px;
    white-space: nowrap;
	font-family: 'header';
}

.blocks {
    width: 100%;	
	position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    background: antiquewhite;
}




.one_block {
	z-index: 4;
	transition: z-index 0s 0.5s;
}

.block_block_:hover .one_block{
	z-index: 0;
	transition: z-index 0s 0.2s;
}

.two_block {
	background: linear-gradient(black, black), url(../images/back_href/1676648004_catherineasquithgallery-com-p-emodzi-na-zelenom-fone-186.png);

    opacity: 0;

    padding: 0px;    

    z-index: 0;

    height: 0px;

    overflow: hidden;

    background-blend-mode: saturation;

	transition: height 0.5s, opacity 0s 0.5s, z-index 0s 0.5s, padding 0.5s;	    
}

.block_block_:hover .two_block{
	opacity: 1;

	z-index: 4;

	height: 192px;

    padding: 5px;	

	transition: height 0.5s 0.2s, opacity 0s 0.2s, z-index 0s 0.2s, padding 0.5s;	
}

.bottom {
	justify-content: space-evenly;
}

.block_block_title {
    width: max-content;

    padding: 0px 5px;   

    font-family: 'text_bigi';
    font-weight: 900;     	
    font-size: 16px;
    color: black;

    background: #ffffffdb;
    border-radius: 5px;
}

.block_block_content {
    padding: 2px 5px;

    font-family: 'text_mini';
    font-size: 14px;   
	color: white;

	background: #000000a1;
    border-radius: 5px;
}    

.block_block_link {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    padding: 0px 15px 15px 0px;
    position: absolute;
}

.block_block_link div {
    font-family: 'text_bigi';	
    font-weight: 900;  	
    font-size: 18px;
    color: black;

    padding: 5px;
    border-radius: 5px;
    text-shadow: 0px 0px red;
    transition: text-shadow 0.2s;
}

.block_block_link div:hover {
    text-shadow: 5px 5px red;
    transition: text-shadow 0.2s;
}

.decoration {
    width: 20px;
    height: 100%;

    position: absolute;

    right: 0;
    top: 0;

    border-radius: 0px 20px 20px 0px;
    backdrop-filter: blur(10px);    

    z-index: 4;
}

.left_button {
    left: 0;
    transform: rotate(180deg);    	
}
/* --- */



/* Войти */
.login_ {
    width: 50px;
    height: 50px;

    position: relative;

	padding: 5px;

    border-radius: 100px;

    overflow: hidden;

    z-index: 2;
}	

.login_:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;

	position: absolute;	

	background: #e96868;

	z-index: 1;

	transition: height 0.2s;
}

.login_:hover:before {
	height: 100%;
	transition: height 0.2s;
}	

.login_back {
    padding: 4px;	

	background: white;
    border-radius: 20px;

	z-index: 2;

	cursor: pointer;
}
/* --- */



/* Описание */
.description {
    /* margin-top: 5%; */
    font-family: 'text_mini';
    font-size: 15px;
    /* text-align: center; */
    font-weight: 900;
    color: #243453;
}

.description div {
	width: 560px;
	z-index: 1;
}
/* --- */



/* Заголовок */
.start_block_title {
	font-family: "Agency_FB_Cyrillic";
    font-size: 60px;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: 15px;
    position: relative;
    z-index: 1;
}

.head_ {
	position: absolute;	
	padding-left: 4px;

/*    border: 2px solid #cb4646;*/

	color: #e96868;
}

.head_any {
	position: relative;

	color: #03a9f4;
	
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* --- */



.XXXxxxx33 {
	width: 100%;
	height: 55%;
}

.XXXxxxx44 {
	width: 100%;
	height: 45%;
	background: blue;
}

.bliiii {
	
	width: 250px;
	height: 100%;
	padding: 10px;
	background: whitesmoke;
	border-radius: 5px;
}

.bliiii img {
	
	width: 50px;
	height: 50px;
}

.button___ {
	padding: 5px;
	background: red;
	border-radius: 5px;
}

.zse {
	width: 100%;
	height: 100%;
	background: white;
	gap: 5px;
}

.zzzzZZzzz11 {
	width: 35%;
	height: 100%;
	padding: 10px;
}

.DDDdddDD122 {
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 12px;
	color: red;
	background: green;
}

.ssssSSs22 {
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
    padding: 5px 50px 5px 5px;
	justify-content: space-evenly;    	
}









/* Спуск вниз */
.descent_down {
	display: flex;
	align-items: flex-end;
	justify-content: center;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.descent_down div {
    margin: 10px 10px;	
	padding: 30px;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
	transform: rotate(45deg);

}

.descent_down div img{
	z-index: 3; 
	position: relative;
	opacity: 1;
    transform: rotate(-45deg);	
}


.descent_down div:hover {
	padding: 30px;
	border-radius: 100px;
}

.descent_down div:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;
	background: #e96868;
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	transition: height 0.2s;
}

.descent_down div:hover:before {
	height: 50%;
	transition: height 0.2s;
}

.descent_down div:after {
	content: "";
	top: 100%;
	left: 0;	
	width: 100%;
	height: 50%;
	background: #03a9f4;
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	transition: top 0.2s;	
}

.descent_down div:hover:after {
	top: 50%;
	transition: top 0.2s;
}


.optimatization {
	width: 100%;
	height: 100%;
    padding: 10px;
    background: #243453;
    border-radius: 10px;
}

.link {	
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 999;
    flex-direction: column;
}

.link_ {
	display: flex;
	width: auto;
	height: auto;	
    opacity: 0;
}

.link_img img {
	padding: 2px;
}


.rotate {
	transform: rotate(0deg);
	transition: transform 0.2s;
}

.rotate:hover {
	transform: rotate(25deg);
	transition: transform 0.2s;	
}
/* --- */



/* Мероприятия */
.events_construction {
	width: 100%;
	height: 100vh;

	padding: 20px 60px 20px 20px;
}

.events_contr {
	display: flex;
	flex-direction: row;
	gap: 10px;

	width: 100%;
	height: 100%;
}

.events_block_size_ {
	display: flex;
	flex-direction: column;

	width: 60%;
	height: 100%;

	border: 2px solid #703B94;
    border-radius: 5px;

    overflow: hidden;
}

.events_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;

    position: relative;

    width: 100%;
	height: 60px;

    padding: 0px 20px;	

	border-bottom: 2px dashed #243453;
}

.events_search {
	display: flex;
	flex-direction: row;
	gap: 10px;

	position: relative;

	padding: 3px;

	border-radius: 5px;
}

.events_search_close {

	top: 0;
	right: 0;

	width: 0%;
	height: 100%;

	position: absolute;

	background: #ffffff;

	z-index: 5;
	transition: width 0.5s;
}

.events_search_close_active {
	width: 100%;
	transition: width 0.5s;
}

.events_menu_block {
	position: relative;	

    padding: 5px;

    background: #03a9f4;    
    border-radius: 5px;	

	overflow: hidden;
}

.search_active {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.search_active:before {
	content: "";

	top: 0;
	left: 0;

	width: 0%;
	height: 100%;

	position: absolute;	

	background: #BE74BE;

	z-index: 2;

	transition: width 0.3s;
}

 .events_menu_block:hover .search_active:before {
	width: 100%;

	transition: width 0.3s;
}

.search_active input {
	width: 15px;
	height: 15px;

	z-index: 3;
}

.search_active div {
	color: white;
	font-family: "header";
    font-size: 12px;

    transform: translateY(2px);

	z-index: 3;
}

.events_menu_add_left_cansel {
    border-radius: 100px;	
	z-index: 10;	
	width: 35px;
	height: 0px;	
	position: relative;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	transition: height 0.2s 0.5s, opacity 0.1s 0.5s;

	width: 40px;
    height: 40px;
    padding: 5px;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    z-index: 2;
}	


.events_menu_add_left_cansel_active {
	height: 40px;
	opacity: 1;
	transition: height 0.2s, opacity 0.2s;	
}

.lock_poc_tok {
	width: 100%;
	height: 100%;
	padding: 5px;
	position: relative;

    width: 100%;
    height: 100%;
    position: relative;
    background: #e96868;
    border-radius: 20px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;	
}




.events_menu_add_left_cansel:after {
	content: "";
	top: 100%;
	left: 0;	
	width: 100%;
	height: 50%;
	background: #03a9f4;
	position: absolute;
	z-index: 1;
	transition: top 0.2s, height 0.2s;	
}

.events_menu_add_left_cansel:hover:after {
	top: 0%;
	height: 100%;
	transition: top 0.2s, height 0.2s;
}






.events_menu_add {
	width: 40px;
	height: 40px;

	padding: 5px;

	position: relative;

	border-radius: 100px;

	overflow: hidden;

	z-index: 2;
}

.events_menu_add:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;

	position: absolute;	

	background: #03a9f4;

	z-index: 1;

	transition: height 0.2s;
}

.events_menu_add:hover:before {
	height: 100%;
	transition: height 0.2s;
}

.events_menu_add div {
	width: 100%;
	height: 100%;

	position: relative;

	background: #e96868;
    border-radius: 20px;

    font-size: 20px;

	z-index: 2;

	cursor: pointer;
}
/* --- */



/* Добавочный элемент */
.absolute_block {
	width: 0%;
	height: 100%;

	opacity: 0;

	position: absolute;

/*	padding: 10px 20px 10px 20px;*/

	padding: 0px 0px 0px 0px;


/*	overflow-y: scroll;	*/
    z-index: 10;
    overflow-y: scroll;

    background: #ffffff;
	transition: width 0.5s, opacity 0.5s, padding 0.2s, overflow-y 0s 0.5s;
}

.absolute_block_active {
	width: 100%;
	opacity: 1;
	padding: 10px 20px 10px 20px;
	transition: width 0.5s, opacity 0.5s, padding 0.2s, overflow-y 0s 0.5s;
}

.absolute_flex {
	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 100%;
	height: max-content;
}

.absolute_important {
	width: 100%;
	height: 150px;

	position: relative;	
    display: flex;	
}

.absolute_important_big {
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0px 0px;
}

.absolute_people {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    flex-grow: 1;
    height: 120px;
    position: absolute;
    /* left: 3px; */
    margin: 0px 2px;
    bottom: 0;
    background: white;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px 0px 10px;
}

.absolute_people_images {
	width: 80px;
	height: 100%;
}

.absolute_people_images img {
	width: 80px;
	height: 80px;

	border-radius: 100px;
}

.absolute_title_block {
	display: flex;
	flex-direction: column;
	gap: 5px;

	flex-grow: 1;
	height: 100%;

    padding: 5px 0px 0px 10px;
}

.absolute_title {
    height: 50%;	

	padding: 3px;

	background: red;
}

.absolute_information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}

.absolute_block_information {
	padding: 3px;

	background: red;
	text-overflow: ellipsis;
}

.dop_info {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background: red;
	position: relative;
}

.dop_info:hover .hover_open_dop_info {
	width: 100px;

	transition: width 0.2s;
}


.dop_info_open {
	width: 100%;
	height: 100%;
}

.absolute_content_text {
	width: 100%;
	background: red;
}

.hover_open_dop_info {
	display: flex;
	flex-direction: column;
	gap: 5px;

	position: absolute;

	width: 0px;
	height: 50px;

	transform: translateY(10px) translateX(-30px);

	background: blue;
	transition: width 0.2s;	
	overflow: hidden;
}

.time_dop {
	flex-grow: 1;
	background: red;
}

.absolute_content_text {
	flex-grow: 1;
	height: 200px;

	padding: 10px;
	background: red;
}

.text_abs {
	width: 100%;
	height: 100%;
	background: white;
}

.absolute_images_slaider {
	flex-grow: 1;
	height: 200px;

	padding: 10px;
	background: red;	
}

.img_abs {
	display: -webkit-box;
	width: 100%;
	height: 100%;
	background: white;

	overflow: hidden;
}

.img_abs div {
	width: 200px;
	height: 100%;

	margin-right: 20px;
}

.img_abs img {
	width: 100%;
	height: 100%;
}

.press {
  width: 100%;
  height: 360px;
  display: flex;

  margin-top: 40px;
  
}
.press-item {
  list-style: none;
  width: 25%;
  background: url("../images/back_href/1676648004_catherineasquithgallery-com-p-emodzi-na-zelenom-fone-186.png");
  background-size: cover;
  height: 100%;
  transition: 0.5s;
}
.press:hover .press-item:nth-child(odd) {
  transform: skewY(0deg);
  box-shadow: none;
}
.press:hover .press-item:nth-child(even) {
  transform: skewY(0deg);
  box-shadow: none;
}

.press .press-item:nth-child(odd) {
  transform: skewY(15deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0, 30%);
}
.press .press-item:nth-child(even) {
  transform: skewY(-15deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0, 30%);
}
.press .press-item:nth-child(1) {
  background-position: 0;
}
.press .press-item:nth-child(2) {
  background-position: -160px;
}
.press .press-item:nth-child(3) {
  background-position: -320px;
}
.press .press-item:nth-child(4) {
  background-position: -480px;
}




/* --- */
.events_contents_blocks {
	width: 100%;
	flex-grow: 1;

	position: relative;

    overflow: auto;
}

.events_contents_blocks_positon {
    display: grid;
	justify-content: center;    
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 190px 190px;
    gap: 15px;

	width: 100%;
	height: 100%;

	padding: 10px;

	overflow-y: scroll;
}


.events_contents_blocks_nastr {
    width: 150px;
    height: 190px;
    float: left;
    margin: 5px 10px 5px 10px;
}

.events_chat {
	display: flex;
	flex-direction: column;

	width: 39%;
	height: 100%;

    border: 2px solid #703B94;
    border-radius: 5px;

    overflow: hidden;	
}



.events_chat_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 50px;

    padding: 0px 10px;	

	border-bottom: 2px dashed #243453;
}

.events_chat_menu_information {
	display: flex;
	flex-direction: row;
	gap: 10px;
	z-index: 2;
}

.events_chat_menu_images {
	width: 40px;
	height: 40px;

	border-radius: 100px;

	position: relative;
}

.events_chat_menu_images img{
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.ocenka {
	position: sticky;
    bottom: 0;

	width: auto;
	height: 40px;
}

.flex_ocenka {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.shaloba {
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 100px;
}

.shaloba img {
	width: 100%;
	height: 100%;
}

.ocenka_laik {
	display: flex;
	flex-direction: row;

	width: 100px;
	height: 100%;
}

.right_ocenka {
    width: 50px;
    height: 30px;
    background: #00a1ff;
}

.left_ocenka {
	width: 50px;
    height: 30px;
    background: #00ff91;
}
/* --- */



.events_chat_menu_information:hover .absolute_chate_ {
	opacity: 1;
	height: 300px;
	transition: height 0.3s, opacity 0.2s;
}



/* Список чатов */
.absolute_chate_ {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 300px;
	height: 0px;

	position: absolute;

    transform: translateX(-10px) translateY(5px);

	border-right: 2px dashed #243453;
	border-bottom: 2px dashed #243453;
	overflow: hidden;
	transition: height 0.3s, opacity 0.2s;
	opacity: 0;
	overflow-y: scroll;
}










.absolute_chat_bloks_ {
	height: 50px;
    margin: 5px;	
}

.block_chate_url {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 50px;

	padding: 5px;

	background: wheat;
}

.block_chate_url_image {
	width: 30px;
	height: 100%;
}

.block_chate_url_image img {
	width: 100%;
	height: 30px;

	border-radius: 100px;
}

.text_absolute_chate {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 20px;

    font-family: 'header';
    font-size: 13px;
    color: black;
}


/* --- */
.events_chat_menu_title {
	font-family: 'header';
	font-size: 15px;
	color: black;
}

.events_chate_close {
	width: 30px;
	height: 30px;

	border-radius: 100px;
	overflow: hidden;
}

.events_chate_close div {
	width: 100%;
	height: 100%;

	background: #03a9f4;
}

.events_chat_content {
	width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column-reverse;    
}

.chat_block {
	display: flex;

	width: 100%;
	height: 100px;
	margin: 10px 0px;
}

.sms_block {
	width: 300px;
	height: 100px;
	background: blue;
}

.events_chat_correspondence {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: auto;


	border-top: 2px dashed #243453;
}

.correspondence {
    flex-grow: 1;
	height: 80px;

	padding: 3px 3px 3px 3px;
	margin: 5px;
	overflow-y: auto;

    border: 2px solid;
    border-radius: 5px;	
}

.mini_message_menu {
    display: flex;
    width: 35px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.mini_message_menu_block {
	width: 30px;
	height: 30px;
	padding: 4px;
	background: #cbcbcb;
	border-radius: 100px;
}

.mini_message_menu_block img {
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.events_construction_title {
	margin-top: 20px;
	padding: 5px;

	font-family: "header";
	font-size: 30px;		
}

.events_construction_menu {
	display: flex;
	flex-direction: row;
	gap: 30px;

	padding: 10px;

	font-family: 'text_mini';
	font-size: 18px;

	/* background */
	background: #dedede;
	border-radius: 10px;
}

.events_construction_menu div {
	display: flex;
	flex-direction: row;

	gap: 5px;
}

.date input {
	padding: 3px;
	border-radius: 5px;
	background: #bdbdbd;
}

.events_construction_block {
	display: grid;
	grid-template-columns: repeat(2, 100%);

	overflow: hidden;

	width: 100%;
	height: 100%;

	margin-top: 20px;
}

.events_construction_mini_block {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
}

.events_construction_mini_block_stabilisation {
    display: grid;
    grid-template-columns: 33% 33%;
    grid-auto-rows: 43% 43%;
   	justify-content: center;
    gap: 40px;

    width: 100%;
    height: 100%;
}

.events_block {
	width: 100%;
    height: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background: #dedede;

    position: relative;
    z-index: 2;
}

.title_events_block {
	font-family: 'text_bigi';
	font-size: 20px;
}

.description_events_block {
	font-family: 'text_mini';
	font-size: 17px;
	margin-top: 5px;
}

.link_events_block {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 0px 15px 15px 0px;
    position: absolute;    
}

.link_events_block div {
	padding: 5px;
	border-radius: 5px;
}

.link_events_block div:hover {
	background: #bdbdbd;
}

.link_events_block_listening {
	width: 100%;
	height: 100%;

	position: absolute;
	z-index: 1;
}

.link_events_block_listening img {
	right: 0;
    position: absolute;
    padding: 4px;
    border-radius: 40px;
    transform: rotate(270deg);
}

.link_events_block_listening img:hover {
	background: #bdbdbd;
}









/* Вводная информация */
.places_to_visit {
	width: 100%;
	height: 100vh;

	padding: 20px 20px 20px 20px;
	background: white;
    z-index: 10;
    position: relative;
    display: none;
}

.places_to_visit_the_whole_block {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100%;
    border: 2px solid #703B94;
	border-radius: 5px;
    overflow: hidden;    		
}

.places_to_visit_evering_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border-right: 2px solid #703B94;
    overflow: hidden;   
}	

.places_to_visit_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;

    position: relative;

    width: 100%;
	height: 60px;

    padding: 0px 20px;	

	border-bottom: 2px dashed #243453;
}

.places_to_visit_menu_exit {
	width: 40px;
	height: 40px;

	padding: 5px;

	position: relative;

	border-radius: 100px;

	overflow: hidden;

	z-index: 2;
}

.places_to_visit_menu_exit:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;

	position: absolute;	

	background: #03a9f4;

	z-index: 1;

	transition: height 0.2s;
}

.places_to_visit_menu_exit:hover:before {
	height: 100%;
	transition: height 0.2s;
}

.places_to_visit_menu_exit div {
	width: 100%;
	height: 100%;

	position: relative;

	background: #e96868;
    border-radius: 20px;

    font-size: 20px;

	z-index: 2;

	cursor: pointer;
}
/* --- */

.places_to_visit_menu_search {
	display: flex;
	flex-direction: row;
	gap: 10px;

	position: relative;

	padding: 3px;

	border-radius: 5px;
}

.places_to_visit_menu_search_block {
	position: relative;	

    padding: 5px;

    background: #03a9f4;    
    border-radius: 5px;	

	overflow: hidden;
}

.places_to_visit_menu_search_block_active {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.places_to_visit_menu_search_block_active:before {
	content: "";

	top: 0;
	left: 0;

	width: 0%;
	height: 100%;

	position: absolute;	

	background: #BE74BE;

	z-index: 2;

	transition: width 0.3s;
}

 .places_to_visit_menu_search_block:hover .places_to_visit_menu_search_block_active:before {
	width: 100%;

	transition: width 0.3s;
}

.places_to_visit_menu_search_block_active input {
	width: 15px;
	height: 15px;

	z-index: 3;
}

.places_to_visit_menu_search_block_active div {
	color: white;
	font-family: "header";
    font-size: 12px;

    transform: translateY(2px);

	z-index: 3;
}

.places_to_visit_menu_add {
	width: 40px;
	height: 40px;

	padding: 5px;

	position: relative;

	border-radius: 100px;

	overflow: hidden;

	z-index: 2;
}

.places_to_visit_menu_add:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;

	position: absolute;	

	background: #03a9f4;

	z-index: 1;

	transition: height 0.2s;
}

.places_to_visit_menu_add:hover:before {
	height: 100%;
	transition: height 0.2s;
}

.places_to_visit_menu_add div {
	width: 100%;
	height: 100%;

	position: relative;

	background: #e96868;
    border-radius: 20px;

    font-size: 20px;

	z-index: 2;

	cursor: pointer;
}
/* --- */



.places_to_visit_content {
	width: 100%;
	flex-grow: 1;

	position: relative;

    overflow: hidden;
}

.places_to_visit_content_position {
	display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 290px 290px;
	gap: 10px;
	width: 100%;
	height: 100%;

	padding: 10px;

	overflow-y: scroll;
    justify-content: space-evenly;	
}


.places_to_visit_content_block_block_ {
    width: 100%;
    height: 100%;

    background: #a9a9a9;

	position: relative;	

    border-radius: 10px 10px 0px 0px;
}

.img_places_to_visit_content_block_block_ {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


.zzzzzz_1 {
	position: absolute;
	width: 100%;
	height: 100%;
}

.zzzzzz_2 {
	position: relative;
	width: 100%;
	height: 100%;
}

.element_zzzzz_3 {
	position: absolute;
	top: 25%;
	left: 100%;
	transform: translateX(-15px);
	width: 30px;
	height: auto;
	background: red;
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	flex-direction: column;

}

.izbrannoe {
	width: 30px;
	height: 30px;
	padding: 3px;
}

.link_linkj_link {
	gap: 5px;
}

.link_bok_aaa {
	padding: 3px;
}

.places_to_visit_content_block_block_background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;

    display: inline-flex;
 
}

.places_to_visit_content_block_block_title {
    width: 100%;
    height: auto;

    font-family: 'Agency_FB_Cyrillic';
    font-size: 21px;
    padding: 30px 5px 5px 5px;
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0.2) 100%);
}

.places_to_visit_content_block_block_background_continuation {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    opacity: 0;

    background: url("../images/back_href/1676648004_catherineasquithgallery-com-p-emodzi-na-zelenom-fone-186.png");
    background-size: cover;
    z-index: 2;
	z-index: 4;
	transition: z-index 0s 0.5s; 
	background: linear-gradient(black, black), url(../images/back_href/1676648004_catherineasquithgallery-com-p-emodzi-na-zelenom-fone-186.png);

    opacity: 0;

    padding: 0px;    

    z-index: 0;

    height: 0px;

    overflow: hidden;

    background-blend-mode: saturation;

	transition: height 0.5s, opacity 0s 0.5s, z-index 0s 0.5s, padding 0.5s;	    
}	

/* активация второго блока */
.places_to_visit_content_block_block_background_continuation {
	opacity: 0;

	z-index: 4;

	height: 270px;

    padding: 5px;	

	transition: height 0.5s 0.2s, opacity 0s 0.2s, z-index 0s 0.2s, padding 0.5s;	
}

.places_to_visit_content_block_block_description {
    padding: 2px 5px;

    font-family: 'text_mini';
    font-size: 14px;   
	color: white;

	background: #000000a1;
    border-radius: 5px;
}    

.places_to_visit_content_block_block_link {
    display: flex;
    flex-direction: column;
}

.A1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: space-between;
}

.A2 {
	display: flex;
	flex-direction: row;
	padding: 3px;
	gap: 3px;
}

.A2 img {
	width: 25px;
	height: 25px;

}


.aaaa_bbbb_cccc {
	font-family: 'Agency_FB_Cyrillic';
    font-weight: 900;
    font-size: 18px;
    color: #634317;
    padding: 0px;
    background: #ffc763;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: relative;
    overflow: hidden;
    letter-spacing: 3px;
}

.aaaa_bbbb_cccc:before {
	content: '';
	position: absolute;
	z-index: 11;
	top: -5px;
	left: -5px;
	width: 1px;
	height: 1px;
	background: #f1da8d;
	transform: scale(1.0);
	border-radius: 100px;
	transition: transform 0.5s;
}

.aaaa_bbbb_cccc:after {
	content: '';
	position: absolute;
	z-index: 11;
	top: 101%;
	left: 101%;
	width: 1px;
	height: 1px;	
	background: #e0a219;
	transform: scale(1.0);
	border-radius: 100px;	
	transition: transform 0.5s;
}

.aaaa_bbbb_cccc:hover:before {
    transform: scale(200.0);
    transition: transform 0.5s;
}

.aaaa_bbbb_cccc:hover:after {
    transform: scale(200.0);
    transition: transform 0.5s;
}

.AAAAAA {
	width: 40%;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.map {
	width: 100%;
	height: 100%;
}

.map iframe {
	width: 100%;
	height: 100%;
}






/* 4 достопремичательности абсолют */
.absolute_inform_dostoprem {
	width: 0%;
	height: 100%;
	border: 2px solid #703B94;
	opacity: 0;

	display: none;
	flex-direction: column;

    border-radius: 5px;
    overflow: hidden;
	transition: width 0.4s, opacity 0.4s, display 0s 0.4s;
}

.absolute_inform_dostoprem_active {
	display: flex;
	width: 100%;
	opacity: 1;
	transition: width 0.4s, opacity 0.4s, display 0s;	
}

.absolute_inform_dostoprem_menu {
	width: 100%;
	height: 50px;
	border-bottom: 2px dashed #703B94;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}

.absolute_inform_dostoprem_menu_image {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	overflow: hidden;
}

.absolute_inform_dostoprem_menu_image img {
	width: 100%;
	height: 100%;
}

.absolute_inform_dostoprem_content {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 5px;
}

.absolute_inform_dostoprem_content_left_ {
	display: flex;
	flex-direction: column;

	width: 50%;
	height: 100%;
	border-radius: 5px;
    overflow: hidden;	
}

.absolute_inform_dostoprem_content_left_big_img {
	width: 100%;
	height: 70%;
}

.absolute_inform_dostoprem_content_left_big_img img {
	width: 100%;
	height: 100%;
}

.absolute_inform_dostoprem_content_left_mini_img {
	flex-grow: 1;
	width: 100%;

	display: -webkit-box;
	overflow: hidden;
}

.absolute_inform_dostoprem_content_left_mini_img div {
	width: 200px;
	height: 100%;
}

.absolute_inform_dostoprem_content_left_mini_img img {
	width: 100%;
	height: 100%;
}

.descript_absolute_title {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #703B94;
}

.title_absolute_big_title {
	width: 100%;
	height: auto;	
    border-bottom: 2px dashed #703B94;
    padding: 5px;

    color: black;
    font-size: 15px;
    font-family: 'header';
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.title_absolute_mini_title {
	flex-grow: 1;
	padding: 5px;
}





/* 4 достопремичательности */
.attractions_construction {
	display: flex;
	flex-direction: column;

	position: relative;

	width: 100%;
	height: 100vh;

	/* Выравнивание */
	padding: 20px 70px 20px 70px;

	/* фоновая конструкция */
}

.picnic {
	flex-direction: column;
    display: flex;
	flex-grow: 1;
    padding: 0px 0px 20px 0px;	
}

.attractions_construction_title {
	width: 100%;
	height: auto;

	padding: 5px;

    font-family: "header";
    font-size: 22px;

    justify-content: flex-start;
    white-space: pre;
}    
	
.lets_go_for_a_walk {
	padding: 0px 5px 10px 10px;
    font-family: monospace;
    font-size: 15px;
    color: #7d2d8a;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;    
}


.botton_lets_go_for_a_walk {
	padding: 5px;
	margin-left: 5px;
    background: #c6f2e4;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'header';
    color: #327d71;
    position: relative;
    overflow: hidden;
}

.botton_lets_go_for_a_walk:before {
	content: '';

	z-index: 1;

	position: absolute;
	top: 101%;
	left: 101%;

	width: 1px;
	height: 1px;
	border-radius: 100px;
	transform: scale(1.0);
	background: #c5ff43;
	transition: transform 0.5s;
}


.botton_lets_go_for_a_walk:hover:before {
	transform: scale(200.0);
	transition: transform 0.5s;	
}


.attractions_mini_block {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-auto-flow: column;
    flex-grow: 1;
    padding-bottom: 10px;
    padding-top: 10px;    

    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: start;    
}

.attractions_block {
	width: 100px;
    height: 100%;
    background: #dedede;
    border-radius: 10px;

    position: relative;

    transition: width 0.2s;    
}

.attractions_block:hover {
	width: 200px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0 24%, rgba(0, 0, 0, 0) 50% 100%), url(../images/back_href/1984.jpg);    
    background-size: cover;
    background-position: 50% 50%;
    transition: width 0.2s;	
}

.img_attractions_block {
	width: 100%;
	height: 100%;
    border-radius: 10px;	
}


.attractions_block_main_info {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	font-family: 'header';
    padding: 15px 10px 5px 15px;
    font-size: 20px;

}

.attractions_block_number_ {
	font-family: 'header';
	font-size: 80px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
}

.attractions_block_emogi {
    width: 80px;
    height: 80px;
}

.attractions_block:hover .prosmotry_text {
	max-width: 300px;
	padding: 5px;
	transition: max-width 0.2s, padding 0.2s;
}

.prosmotry {
    position: absolute;
    /* width: 30px; */
    /* height: 30px; */
    /* background: white; */
    border-radius: 5px;
    padding: 5px;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 5px; */
    overflow: hidden;
    transition: max-width 0.2s;  
}

.prosmotry_img {
    width: 30px;
    height: 30px;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.prosmotry_text {
    max-width: 0px;
    font-family: cursive;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    background: white;
    border-radius: 5px;
    height: 30px;
    padding: 0px;
	transition: max-width 0.2s, padding 0.2s;    
}

.block_absolute {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	padding: 15px;
	transition: top 0.3s;
	overflow: hidden;
}

.attractions_block:hover .block_absolute {
	top: 0%;
	transition: top 0.3s;	
}


.button_bottom_mini_icons_number {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: auto;
    font-family: 'header';
    padding: 5px;
    font-size: 14px;
    border-radius: 100px;
    transform: translateX(10px) translateY(-10px);
    background: #c6f2e4;
    color: #327d71;
}

.description_attractions {
	width: 100%;
	height: 100px;
}

.description_attractions div {
	padding: 5px;
	border-radius: 10px;
	background: #dedede;

	font-family: 'text_mini';
	font-size: 18px;
}


/* Добавить блок */
.attractions_block_add {
	width: 100px;
    height: 100%;
    background: #dedede;
    border-radius: 10px;

    position: relative;

    overflow: hidden;	
}

.attractions_block_add div {
	z-index: 1;

	position: absolute;
	left: 50%;
	top: 50%;
	width: 1px;
    height: 1px;
    background: #adadad;
    border-radius: 100px;
    transform: scale(1.0);
    transition: transform 0.7s;
}

.attractions_block_add:hover div {
	transform: scale(500);
    transition: transform 0.7s;	
}

.attractions_block_add img {
	width: 50px;
	height: 50px;
	z-index: 2;
	transform: scale(1.0);
	transition: transform 0.7s;
}

.attractions_block_add:hover img {
	transform: scale(1.5);
    transition: transform 0.7s;	
}


/* Погода */
.weather {
	width: 300px;
    height: 100%;

    background: white;    
    border-radius: 10px;

	overflow: hidden;
}

.weather_menu {
	width: 100%;
	height: 65%;

	background: url("../images/pogoda/1643268831_13-phonoteka-org-p-pogoda-fon-15.png");
	background-position: 50% 50%;
	background-size: cover;

	padding: 10px 10px 0px 10px;

	justify-content: space-around;

	color: white;
}

.weather_menu_city {
    font-size: 18px;
    font-family: 'header';
}

.weather_main_content {
	gap: 5px;
}

.weather_time {
	font-family: monospace;
	font-size: 15px;
}

.celsius {
	font-family: 'header';
	font-size: 16px;
}

.weather_mood {
	width: 45px;
	height: 45px;
}

.weather_mood img {
	width: 100%;
	height: 100%;
}

.weather_feeling {
	font-family: monospace;
	font-size: 14px;

	align-items: stretch;
}

.weather_information {
	font-family: monospace;
	font-size: 12px;
	gap: 5px;
}

.weather_block_slaid {
	flex-grow: 1;
}

.wind {
	width: 30px;
	height: 30px;
	background:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E %3Cg fill=%22%23FFF%22 fill-rule=%22nonzero%22%3E %3Cpath d=%22M6 11.5h5.688a3.75 3.75 0 1 0-1.95-6.954.75.75 0 0 0 .781 1.28A2.25 2.25 0 1 1 11.688 10L6 10.001a.75.75 0 1 0 0 1.5zM2 15h9.966a1.5 1.5 0 1 1-.779 2.782.75.75 0 0 0-.78 1.281 3 3 0 1 0 1.56-5.563H1.999A.75.75 0 1 0 2 15zM16.667 13h2.251a3 3 0 1 0-1.56-5.563.75.75 0 0 0 .781 1.28 1.5 1.5 0 1 1 .779 2.782l-2.251.001a.75.75 0 1 0 0 1.5z%22/%3E %3C/g%3E %3C/svg%3E");
	background-repeat: no-repeat;
}

.water {
	width: 30px;
	height: 30px;
	background:url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5487 8.0001C16.7829 6.74175 15.1271 4.67011 12.5637 1.75476C12.2645 1.41448 11.7342 1.41518 11.4359 1.75625C8.88065 4.67783 7.22597 6.74805 6.45489 7.99571C3.91532 12.1049 3.72409 15.9389 6.56528 18.751C9.63862 21.793 14.3621 21.792 17.4355 18.7512C20.2743 15.9425 20.0858 12.169 17.5487 8.0001ZM7.73087 8.78429C8.39019 7.71747 9.8183 5.91206 12.0019 3.39071C14.1889 5.90415 15.6153 7.70851 16.2673 8.77991C18.4829 12.4205 18.6344 15.4548 16.3805 17.6849C13.8915 20.1475 10.1092 20.1483 7.62047 17.685C5.36463 15.4522 5.51867 12.3638 7.73087 8.78429Z%22 fill=%22white%22/%3E %3Cpath d=%22M12.7366 17.2967C14.3588 16.7579 15.4749 15.2362 15.4749 13.5C15.4749 13.0858 15.1391 12.75 14.7249 12.75C14.3107 12.75 13.9749 13.0858 13.9749 13.5C13.9749 14.5852 13.277 15.5366 12.2638 15.8732C11.8707 16.0038 11.6579 16.4283 11.7884 16.8214C11.919 17.2145 12.3436 17.4273 12.7366 17.2967Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
	background-repeat: no-repeat;
}

.mercury {
	width: 30px;
	height: 30px;
	background:url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath d=%22M14.1314 2.22778C14.5361 2.31569 14.793 2.71509 14.7051 3.11986C14.6172 3.52464 14.2178 3.78152 13.813 3.69362C13.2222 3.56532 12.6156 3.5 12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 11.4103 20.4401 10.8289 20.3222 10.2616C20.238 9.85608 20.4985 9.45902 20.904 9.37478C21.3096 9.29054 21.7067 9.55101 21.7909 9.95657C21.9295 10.624 22 11.3077 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.7228 2 13.4361 2.07681 14.1314 2.22778Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M13.348 10.6533C13.6409 10.9461 14.1158 10.946 14.4086 10.6531L18.0304 7.03025C18.3233 6.73732 18.3232 6.26244 18.0303 5.96959C17.7373 5.67674 17.2624 5.67681 16.9696 5.96975L13.3478 9.59259C13.055 9.88553 13.055 10.3604 13.348 10.6533ZM8.21961 15.7803C8.51248 16.0732 8.98735 16.0732 9.28028 15.7804L10.5308 14.5301C10.8237 14.2373 10.8238 13.7624 10.5309 13.4695C10.238 13.1766 9.76315 13.1765 9.47023 13.4694L8.21972 14.7196C7.9268 15.0125 7.92675 15.4874 8.21961 15.7803Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M14.75 5.75C14.75 5.33579 15.0858 5 15.5 5H18.25C18.6642 5 19 5.33579 19 5.75C19 6.16421 18.6642 6.5 18.25 6.5H15.5C15.0858 6.5 14.75 6.16421 14.75 5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5 5.75C17.5 5.33579 17.8358 5 18.25 5C18.6642 5 19 5.33579 19 5.75V8.5C19 8.91421 18.6642 9.25 18.25 9.25C17.8358 9.25 17.5 8.91421 17.5 8.5V5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12ZM13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
	background-repeat: no-repeat;
}

.slader_weather {
	width: 100%;
	gap: 5px;

	justify-content: space-between;	
}

.slader_weather_button img {
	padding: 5px;
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 100px;
}

.slader_weather_blocks {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 50px 50px;
    gap: 15px;
   	width: 210px;
    overflow: hidden;
}

.weather_block {
    font-family: 'text_mini';
    font-size: 15px;

}

.weather_block img {
	width: 45px;
	height: 45px;
}

.you_should_go_in {
	width: 100%;
	height: 35%;
	padding: 5px;
    border-right: 3px solid #5dc4db;
    border-left: 3px solid #5dc4db;
    border-bottom: 3px solid #5dc4db;
    border-radius: 0px 0px 10px 10px;	
}

.you_should_go_in_title {
	font-family: 'header';
	font-size: ;
}


.you_should_go_in_blocks {
	display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    width: 100%;
    height: 100%;   
     
    overflow: hidden;
}


.you_should_go_in_block {
    width: 100%;
    align-content: space-between;

	position: relative;

	overflow: hidden;

	border-radius: 5px;

	padding: 5px;

    border: 1px solid black;
}

.you_should_go_in_block:before {
	content: "";
	top: -5px;
	left: -5px;	
	width: 5px;
	height: 5px;
	border-radius: 100px;

	background: #1ba3c5;
	transform: scale(1.0);
	position: absolute;
	z-index: 1;
	transition: transform 0.4s;
}

.you_should_go_in_block:hover:before {
	transform: scale(40.0);
	transition: transform 0.4s;
}

.you_should_go_in_block div {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
	font-family: 'text_bigi';
    font-size: 16px;
    z-index: 5;
    padding: 2px 0px 0px 0px;    
}

.you_should_go_in_block img{
	width: 75px;
	height: 50px;
    border-radius: 5px;	
}







/* Обзор на город */
.video_construction {
	width: 100%;
	height: 100vh;

	padding: 20px 60px 20px 20px;

	display: flex;
	flex-direction: row;
	gap: 10px;
}

.left_video_cont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    gap: 20px;
	width: 70%;
	height: 100%;
}

.poddrshka {
	display: flex;
	flex-direction: row;
	gap: 20px;

	width: 100%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.poddrcha_left {
	display: flex;
	flex-direction: column;

	width: 40%;
	height: 100%;
	border: 2px solid #703B94;
    border-radius: 5px 5px 10px 10px;
	overflow: hidden;
}

.title_poddrcha_left {
    padding: 5px;
	border-bottom: 2px dashed #243453;  
    color: black;
    font-size: 15px;
    font-family: 'header';
    display: flex;
    justify-content: flex-start;
    align-items: center;       
}


.piddrcha_content {
	width: 100%;
    /* height: 100%; */
    flex-grow: 1;
    padding: 5px;
    overflow: hidden;
	display: grid;
    grid-auto-flow: column;
}

.poddrcha_right {
    border: 2px solid #703B94;
    border-radius: 5px 5px 10px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;   
}

.title_poddrcha_right {
    padding: 5px;
    border-bottom: 2px dashed #243453; 
    color: black;
    font-size: 15px;
    font-family: 'header';
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img_piddrcha_content {
	width: 70px;
	height: 100%;
	margin-right: 20px;
}

.img_piddrcha_content div {
	width: 100%;
	height: 70px;

	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

.img_piddrcha_content div:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;
	background: #e96868;
	position: absolute;
	z-index: 1;
	transition: height 0.2s;
}

.img_piddrcha_content div:hover:before {
	height: 50%;
	transition: height 0.2s;
}

.img_piddrcha_content div:after {
	content: "";
	top: 100%;
	left: 0;	
	width: 100%;
	height: 50%;
	background: #03a9f4;
	position: absolute;
	z-index: 1;
	transition: top 0.2s;	
}

.img_piddrcha_content div:hover:after {
	top: 50%;
	transition: top 0.2s;
}






.img_piddrcha_content img {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	z-index: 4;
}

.img_piddrcha_content2 {
    width: 100px;
	height: 100%;

	margin-right: 5px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	padding: 5px;
    border: 1px solid black;
}

.content_izmena {
	width: 100%;
	height: 100%;
}



.img_piddrcha_content2:before {
	content: "";
	top: 0;
	left: 0;	
	width: 100%;
	height: 0%;
	background: #e96868;
	position: absolute;
	z-index: 1;
	transition: height 0.2s;
}

.img_piddrcha_content2:hover:before {
	height: 50%;
	transition: height 0.2s;
}

.img_piddrcha_content2:after {
	content: "";
	top: 100%;
	left: 0;	
	width: 100%;
	height: 50%;
	background: #03a9f4;
	position: absolute;
	z-index: 1;
	transition: top 0.2s;	
}

.img_piddrcha_content2:hover:after {
	top: 50%;
	transition: top 0.2s;
}






.img_piddrcha_content2 div {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;

    z-index: 5;
    padding: 2px 0px 0px 0px;    
}


.block_right {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.block_right img{
	width: 40px;
	height: 40px;
    border-radius: 100px;	
}

.block_right div {
    padding: 3px;
    /* height: 50%; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.righr_video_cont {
	display: flex;
	flex-direction: column;

	width: 30%;
    height: 100%;

    border: 2px solid #703B94;
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
}


.title_vidoj_right {
    padding: 5px;
    border-bottom: 2px dashed #243453;
    color: black;
    font-size: 15px;
    font-family: 'header';  
    display: flex;
    justify-content: flex-start;
    align-items: center;      
}

.AAAAAAAAAA {
    flex-grow: 1;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: row;
}

.content_right_cont {
    background: wheat;
    margin: 5px 5px 15px 5px;
    border-radius: 5px;
}

.flex_xyeta {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100px;

    padding: 5px;
}


.flex_xyeta_img {
	width: 60px;
	height: 100%;
	margin-right: 10px;
}

.flex_xyeta_img_AA_ {
	width: 100%;
	height: 60px;
}

.flex_xyeta_img_AA_ img {
	width: 100%;
	height: 100%;

	border-radius: 100px;
}

.flex_xyeta_double_right {
	flex-grow: 1;
	padding: 5px;

	display: flex;
	flex-direction: column;
}

.text_flex_xyeta_ {
	width: 100%;
	margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 13px;
}

.bit_text_flex_pop {
	width: 100%;
	flex-grow: 1;
	padding: 2px;
	margin-bottom: 5px;
}

.gallery {
    --z: 43px;
    --s: 317px;
	--g: 8px;
  
	display: grid;
	gap: var(--g);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;    
	grid-auto-flow: column;
}
.gallery > iframe {
	width: 0;
	min-width: calc(100% + var(--z)/2);
	height: 400px;
	object-fit: cover;
	-webkit-mask: var(--mask);
	      mask: var(--mask);
	cursor: pointer;
	transition: .5s;
}
.gallery > iframe:hover {
	width: calc(var(--s)/2);
}
.gallery > iframe:first-child {
	place-self: start;
	--mask: 
	conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 
	  50%/100% calc(2*var(--z)) repeat-y;
}
.gallery > iframe:last-child {
	place-self: end;
	--mask: 
	conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
	  50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
}





.redactor_dobavite {
	position: fixed;

	width: 100%;
	height: 100vh;

	padding: 20px 60px 20px 20px;

	display: none;
	flex-direction: column;

	z-index: 999;
}

.redactor_dobavite_max {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	background: white;
    border: 2px solid;
    border-radius: 5px;
    overflow: hidden;
}

.redactor_dobavite_data_people {
	height: 100px;
	width: 100%;

	display: flex;
	flex-direction: row;
	gap: 10px;
    border-bottom: 2px black dashed;
    padding: 5px;
}

.redactor_dobavite_data_people_img {
	width: 80px;
	height: 80px;
}

.redactor_dobavite_data_people_img img {
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.redactor_dobavite_data_people_text {
	height: 100%;

	background: blue;
}

.redactor_dobavite_content {
	flex-grow: 1;
	overflow: hidden;
    padding: 10px;
}




.cosdanie_content_blocka {
	position: fixed;

	width: 100%;
	height: 100vh;

	padding: 20px 60px 20px 20px;

	display: none;
	flex-direction: column;

	z-index: 999;

	overflow: hidden;
}

.cosdanie_content_blocka_max {
    width: 100%;
    height: 100%;

    background: white;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 5px;

	display: flex;
	flex-direction: column;
}

.cosdanie_content_blocka_bigi {
	width: 100%;
	height: auto;

	padding: 10px;

	display: flex;
	flex-direction: row;
	gap: 10px;

    border-bottom: 2px dashed black;
}

.cosdanie_content_blocka_bigi_img {
	width: 100px;
	height: 100px;
}

.cosdanie_content_blocka_bigi_img img {
	width: 100%;
	height: 100%;
}

.cosdanie_content_blocka_bigi_text {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	gap: 20px;
}

.cosdanie_content_blocka_bigi_text_title {
	background: red;
}

.number_vabore {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.number_vabore div {
	background: red;
}

.cosdanie_content_blocka_bigi_text_text_text {
	background: red;
}

.blocks_a_c_bigi_mini {
	width: 100%;
	height: 150px;

	background: red;
}

.blocks_a_c_bigi_mini div {
	width: 100%;
	height: 100%;
}

.max_max_max {
	flex-grow: 1;

    display: grid;
	gap: 10px;
	overflow: hidden;
	padding: 10px;
}















[class*="shaking"]
  {
    width: 200px;
    height: 200px;
  	position: absolute;
  	animation: box_shaking 2s ease-in-out infinite alternate;    

  }

  


.shaking_0{
    left: 10%;
    top: 50%;
    z-index: 0;    
}

.shaking_1{
    left: 30%;
    top: 60%;
    z-index: 0;    
}

.shaking_2{
    left: 40%;
    top: 40%;
    z-index: 0;    
}

.shaking_3{
    left: 50%;
    top: 20%;
    z-index: 0;    
}

.shaking_4{
    left: 10%;
    top: 50%;
    z-index: 0;
}

img {
	width: 100%;
	height: 100%;
}

@keyframes box_shaking {
	0% { transform: rotate(0deg);}
	20% { transform: rotate(30deg);}
	40% { transform: rotate(0deg);}
	60% { transform: rotate(25deg);}	
	80% { transform: rotate(0deg);}
	100% { transform: rotate(35deg);}	
}



.ismmm {
	position: relative;
	margin-right: 5px;
	margin-left: 5px;
	transform:translateX(0px) translateY(0px);
}